<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beauty City</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/air-datepicker.css">
	<link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
	<link rel="stylesheet" href="css/simple.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body class="notesPage">
	<section id="mobMenu">
			<div class="mobMenu accMenu">
				<div class="container">
				<div class="mobMenu__header">
					<div class="row">
						<div class="col-4 col-md-3">
							<a href="/">
								<img src="img/Logo.svg" alt="Logo" class="logo header__logo">
							</a>
						</div>
						<div class="col-3 col-md-2">
							<img src="img/x.svg" alt="x" class="mobMenuClose">
						</div>
					</div>
				</div>
				<div class="mobMenu__content">
					<div class="row">
						<div class="col-md-3">
							<nav>
								<div class="accaunt__left">
							<div class="accaunt__ava fic">
								<img src="img/avatars/1.svg" alt="avatar" class="accaunt__ava_img">
								<span class="accaunt__ava_name">Алиса И.</span>
							</div>
							<div class="accaunt__settings fic">
								<a href="#" class="accaunt__settings_intro">Изменить профиль</a>
								<a href="#" class="accaunt__settings_out">Выйти</a>
							</div>
							<nav>
								<div class="accaunt__menu_title">МЕНЮ</div>
								<ul class="accaunt__menu">
									<li class="accaunt__menu_item active">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/list.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Мои записи</span>
											</div>	
										</a>
									</li>
									<li class="accaunt__menu_item">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/settings.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Настройки</span>
											</div>	
										</a>
									</li>
									<li class="accaunt__menu_item">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/tex.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Тех. поддержка</span>
											</div>	
										</a>
									</li>
									<li class="accaunt__menu_item">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/pay.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Платежи</span>
											</div>	
										</a>
									</li>
								</ul>
							</nav>
						</div>
							</nav>
							<nav>
								<ul class="mobMenu__menu">
									<li class="mobMenu__menu_item">
										<a href="#" class="mobMenu__menu_link">Мастера</a>
									</li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Услуги</a></li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Отзывы</a></li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Контакты</a></li>
								</ul>
							</nav>
							<a href="#" class="mobMenu__account">Личный кабинет</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="mobMenu__btn">Перезвоните мне</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<header id="header">
		<div class="container">
			<div class="header">
				<div class="row">
					<div class="col-2 col-md-2 mob">
						<img src="img/hamburger.svg" alt="hamburger" class="header__mobMenu">
					</div>
					<div class="col-5 col-md-3 col-lg-2">
						<a href="/">
							<img src="img/Logo.svg" alt="Logo" class="logo header__logo">
						</a>
					</div>
					<div class="col-md-5 ">
						<nav>
						<ul class="menu">
							<li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
							<li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
							<li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
							<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
						</ul>
					</nav>
					</div>
					<div class="col-3 col-md-2 col-lg-3">
						<div class="header__block">
						<a href="tel:+79179023800"><button class="header__block_btn">Перезвоните мне</button></a>
						<div class="header__block_auth">
							<img src="img/avatars/1.svg" alt="account" class="header__account_img">
							<span class="header__block_auth__intro">Алиса И.</span>
						</div>
					</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</header>
	<section id="notes">
		<div class="container">
			<div class="notes">
				<div class="row">
					<div class="col-md-2">
						<div class="accaunt__left">
							<div class="accaunt__ava fic">
								<img src="img/avatars/1.svg" alt="avatar" class="accaunt__ava_img">
								<span class="accaunt__ava_name">Алиса И.</span>
							</div>
							<div class="accaunt__settings fic">
								<a href="#" class="accaunt__settings_intro">Изменить профиль</a>
								<a href="#" class="accaunt__settings_out">Выйти</a>
							</div>
							<nav>
								<div class="accaunt__menu_title">МЕНЮ</div>
								<ul class="accaunt__menu">
									<li class="accaunt__menu_item active">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/list.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Мои записи</span>
											</div>	
										</a>
									</li>
									<li class="accaunt__menu_item">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/settings.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Настройки</span>
											</div>	
										</a>
									</li>
									<li class="accaunt__menu_item">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/tex.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Тех. поддержка</span>
											</div>	
										</a>
									</li>
									<li class="accaunt__menu_item">
										<a href="#" class="accaunt__menu_item__link">
											<div class="accaunt__menu_block fic">
												<img src="img/icons/pay.svg" alt="icon" class="accaunt__menu_icon">
												<span class="accaunt__menu_item__link_intro">Платежи</span>
											</div>	
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-md-12 col-lg-7">
						<div class="notes__main">
							<div class="notes__title">Мои записи</div>
							<hr class="hr">
						</div>
						<div class="notes__pay mob">
							<div class="notes__pay_block">
								<div class="notes__pay_title">Оплата услуг</div>
								<div class="notes__pay_info">Вы можете оплатить услуги прямо сейчас онлайн или расплатиться  в салоне</div>
							</div>
							
							
							<div class="notes__pay_block">
								<div class="notes__pay_intro">Сумма оплаты</div>
								<div class="notes__pay_sum">3 900 руб</div>
								<button class="notes__pay_btn">Оплатить онлайн</button>
							</div>
						</div>
						<div class="notes__content notes__content_upcoming">	
							<div class="notes__main_title">ПРЕДСТОЯЩИЕ</div>
							<div class="notes__main_block">
								<img src="img/services/service3.svg" alt="service1" class="notes__main_block__img">
								<div class="notes__main_block__elems">
									<div class="notes__main_block__header fic">
										<div class="notes__main_block__header__itesm fic">
											<div class="notes__main_number">Запись №23184</div>
											<div class="notes__main_address">ул. Пушкинская, д. 78А</div>
										</div>
										<div class="notes__main_pay unPaid">НЕОПЛАЧЕНО</div>
									</div>
									<div class="notes__main_block__main ">
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Услуга:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Цена:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Дневной макияж</div>
												<div class="notes__main_block__main_elems__price otes__main_blockWidth">1 400 руб</div>
											</div>
										</div>
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Мастер:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Дата и время:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Ева Колесова</div>
												<div class="notes__main_block__main_elems__date otes__main_blockWidth">29 ноября - 13:30 </div>
											</div>
										</div>
									</div>
									<hr class="notes__block_hr">
									<div class="notes__footer fic">
										<a href="#" class="notes__footer_link rewiewPopupOpen">Оставить отзыв</a>
										<a href="#" class="notes__footer_link tipsPopupOpen">Чаевые</a>
										<button class="notes__footer_btn payPopupOpen">Оплатить</button>
										<div class="notes__main_pay unPaid">НЕОПЛАЧЕНО</div>
									</div>
								</div>
							</div>
							<div class="notes__main_block">
								<img src="img/services/service1.svg" alt="service1" class="notes__main_block__img">
								<div class="notes__main_block__elems">
									<div class="notes__main_block__header fic">
										<div class="notes__main_block__header__itesm fic">
											<div class="notes__main_number">Запись №23184</div>
											<div class="notes__main_address">ул. Пушкинская, д. 78А</div>
										</div>
										<div class="notes__main_pay unPaid">НЕОПЛАЧЕНО</div>
									</div>
									<div class="notes__main_block__main ">
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Услуга:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Цена:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Дневной макияж</div>
												<div class="notes__main_block__main_elems__price otes__main_blockWidth">1 400 руб</div>
											</div>
										</div>
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Мастер:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Дата и время:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Ева Колесова</div>
												<div class="notes__main_block__main_elems__date otes__main_blockWidth">29 ноября - 13:30 </div>
											</div>
										</div>
									</div>
									<hr class="notes__block_hr">
									<div class="notes__footer fic">
										<a href="#" class="notes__footer_link rewiewPopupOpen">Оставить отзыв</a>
										<a href="#" class="notes__footer_link tipsPopupOpen">Чаевые</a>
										<button class="notes__footer_btn payPopupOpen">Оплатить</button>
										<div class="notes__main_pay unPaid">НЕОПЛАЧЕНО</div>
									</div>
								</div>
							</div>
						</div>

						<div class="notes__content notes__content_history">	
							<div class="notes__main_title">ПРОШЕДШИЕ</div>
							<div class="notes__main_block">
								<img src="img/services/service1.svg" alt="service1" class="notes__main_block__img">
								<div class="notes__main_block__elems">
									<div class="notes__main_block__header fic">
										<div class="notes__main_block__header__itesm fic">
											<div class="notes__main_number">Запись №23184</div>
											<div class="notes__main_address">ул. Пушкинская, д. 78А</div>
										</div>
										<div class="notes__main_pay payid">ОПЛАЧЕНО</div>
									</div>
									<div class="notes__main_block__main ">
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Услуга:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Цена:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Дневной макияж</div>
												<div class="notes__main_block__main_elems__price otes__main_blockWidth">1 400 руб</div>
											</div>
										</div>
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Мастер:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Дата и время:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Ева Колесова</div>
												<div class="notes__main_block__main_elems__date otes__main_blockWidth">29 ноября - 13:30 </div>
											</div>
										</div>
									</div>
									<hr class="notes__block_hr">
									<div class="notes__footer fic">
										<a href="#" class="notes__footer_link rewiewPopupOpen">Оставить отзыв</a>
										<a href="#" class="notes__footer_link tipsPopupOpen">Чаевые</a>
										<div class="notes__main_pay payid">ОПЛАЧЕНО</div>
									</div>
								</div>
							</div>
							<div class="notes__main_block">
								<img src="img/services/service1.svg" alt="service1" class="notes__main_block__img">
								<div class="notes__main_block__elems">
									<div class="notes__main_block__header fic">
										<div class="notes__main_block__header__itesm fic">
											<div class="notes__main_number">Запись №23184</div>
											<div class="notes__main_address">ул. Пушкинская, д. 78А</div>
										</div>
										<div class="notes__main_pay payid">ОПЛАЧЕНО</div>
									</div>
									<div class="notes__main_block__main ">
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Услуга:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Цена:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Дневной макияж</div>
												<div class="notes__main_block__main_elems__price otes__main_blockWidth">1 400 руб</div>
											</div>
										</div>
										<div class="notes__main_block__main_items">
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Мастер:</div>
												<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Дата и время:</div>
											</div>
											<div class="notes__main_block__main_elems fic">
												<div class="notes__main_block__main_elems__name otes__main_blockWidth">Ева Колесова</div>
												<div class="notes__main_block__main_elems__date otes__main_blockWidth">29 ноября - 13:30 </div>
											</div>
										</div>
									</div>
									<hr class="notes__block_hr">
									<div class="notes__footer fic">
										<a href="#" class="notes__footer_link rewiewPopupOpen">Оставить отзыв</a>
										<a href="#" class="notes__footer_link tipsPopupOpen">Чаевые</a>
										<div class="notes__main_pay payid">ОПЛАЧЕНО</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-3 dec">
						<div class="notes__pay">
							<button class="notes__pay_btn">Оплатить онлайн</button>
							<div class="notes__pay_info">Вы можете оплатить услуги прямо сейчас онлайн или расплатиться  в салоне</div>
							<div class="notes__pay_intro">Сумма оплаты</div>
							<div class="notes__pay_sum">3 900 руб</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> 
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<div class="footer__block">
					<div class="row">
						<div class="col-md-3 col-lg-2">
							<a href="/"><img src="img/Logo.svg" alt="logo" class="footer__logo"></a>
						</div>
						<div class="col-md-5 minMobHide">
							<nav>
								<ul class="menu">
									<li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
									<li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
									<li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
									<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="footer__contact">
						<div class="row">
							<div class="col-md-4">
								
									<div class="footer__data">с 10:00 до 20:00  без выходных</div>
									
							</div>
							<div class="col-md-3">
								<a href="tel:+79179023800" class="contacts__info_tel">+7 (917) 902 38 00</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 minMobShow">
								<nav>
									<ul class="menu">
										<li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
										<li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
										<li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
										<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<hr class="hr"></hr>
					<div class="footer__bottom">
						<div class="row">
							<div class="col-md-4 col-lg-3">
								<a href="#" class="footer__link">Политика конфиденциальности</a>
							</div>
							<div class="col-md-3">
								<div class="footer__copy">2022. Все права защищены</div>
							</div>
							<div class="col-md-3 col-lg-2">
								<div class="footer__social fic">
									<a href=""><img src="img/waGray.svg" alt="wa" class="contacts__social_icon"></a>
									<a href=""><img src="img/vkGray.svg" alt="vk" class="contacts__social_icon"></a>
									<a href=""><img src="img/tgGray.svg" alt="tg" class="contacts__social_icon"></a>
									<a href=""><img src="img/instaGray.svg" alt="insta" class="contacts__social_icon"></a>
								</div>
							</div>
						</div>
						
						
						
					</div>
					
				</div>
			</div>
		</div>
	</footer>
	<div style="display: none;">
		<div class="box-modal paymentPopup popup" id="paymentModal">
			<div class="box-modal_close arcticmodal-close"><img src="img/x.svg" alt="x"></div>
			<div class="popup__title paymentPopup__title">Оплата</div>
			<form action="#" class="paymentPopup__form">
				<div class="paymentPopup__form_intro popup__intro">номер карты</div>
				<input type="text" name="tel" class="paymentPopup__form_input popup__input" placeholder="Введите номер" required="">
				<div class="paymentPopup__form_block fic">
					<input type="text" name="mm" class="tipsPopup__form_inputMin popup__input" placeholder="ММ" required="">
					<input type="text" name="gg" class="tipsPopup__form_inputMin popup__input" placeholder="ГГ" required="">
				</div>
				<div class="paymentPopup__form_elems fic">
					<input type="text" name="fname" class="paymentPopup__form_inputMid popup__input" placeholder="Имя владельца" required="">
					<input type="text" name="cvc" class="tipsPopup__form_inputMin popup__input" placeholder="CVC" required="">
				</div>
				<div class="paymentPopup__form_intro popup__intro">Ваш e-mail(необязательно)</div>
				<input type="email" name="tel" class="paymentPopup__form_input popup__input" placeholder="pochta@mail.ru">
				<button class="tipsPopup__btn popup__btn">Оплатить</button>
			</form>
		</div>
	</div>
	<div style="display: none;">
	    <div class="box-modal tipsPopup popup" id="tipsModal">
	        <div class="box-modal_close arcticmodal-close"><img src="img/x.svg" alt="x"></div>
	        <div class="">
				<div class="popup__title tipsPopup__title">Чаевые</div>
				<form action="#" class="tipsPopup__form">
					<div class="tipsPopup__form_intro popup__intro">Введите сумму чаевых</div>
					<input type="text" class="tipsPopup__form_input popup__input" placeholder="0.00" required="">
					<button class="tipsPopup__btn popup__btn">Далее</button>
				</form>
			</div>
	    </div>
	</div>
	<div style="display: none;">
		<div class="box-modal reviewPopup popup" id="reviewModal">
			<div class="box-modal_close arcticmodal-close"><img src="img/x.svg" alt="x"></div>
			<div class="popup__title reviewPopup__title">Отзыв</div>
			<form action="#" class="reviewPopup__form">
				<input type="text" name="fname" class="paymentPopup__form_input popup__input" placeholder="Введите имя" required="">
				<div class="contacts__form_inputBlock">
					<input type="text" name="tel" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="">
				</div>
				<input type="text" name="dateVis" class="paymentPopup__form_input popup__input" placeholder="Дата посещения" required="">
				<textarea name="popupTextarea" class="reviewPopup__form_textarea" placeholder="Текст отзыва"></textarea>
				<div class="contacts__form_checkboxBlock fic">
					<input type="checkbox" class="contacts__form_checkbox" checked="">
					<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
				</div>
				<button class="tipsPopup__btn popup__btn">Оплатить</button>
			</form>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="js/air-datepicker.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>