<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

	<section id="reviews">
		<div class="container">
			<div class="reviews pb100">
				<div class="reviews__slider_arrows fic">
					<div class="title">Отзывы</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				
				<div class="row reviewsSlider">
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Светлана Г.</div>
							<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								Отличное место для красоты, очень доброжелательный и отзывчивый персонал, девочки заботливые, аккуратные и большие профессионалы. Посещаю салон с самого начала, но он не теряет своей привлекательности, как в обслуживании.
							</div>
							<div class="reviews__block_date">12 ноября 2022</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Ольга Н.</div>
							<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								Мне всё лень было отзыв писать, но вот "руки дошли". Несколько раз здесь стриглась, мастера звали, кажется, Катя. Все было отлично, приятная молодая женщина и по стрижке вопросов не было)
							</div>
							<div class="reviews__block_date">5 ноября 2022</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Ольга Н.</div>
							<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								Мне всё лень было отзыв писать, но вот "руки дошли". Несколько раз здесь стриглась, мастера звали, кажется, Катя. Все было отлично, приятная молодая женщина и по стрижке вопросов не было)
							</div>
							<div class="reviews__block_date">5 ноября 2022</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Елена В.</div>
							<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								Делала процедуру микротоки у мастера Светланы . Светлана внимательная, приветливая, ненавязчивая. Рекомендую и мастера, и процедуру. Еще делала бровки у Татьяны , я в восторге , брови просто идеально сдеданы
							</div>
							<div class="reviews__block_date">28 октября 2022</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Виктория Г.</div>
							<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								Была на педикюре у Ольги. Очень понравилось. Все инструменты стерильные, упакованы в крафт-пакет. Для меня очень важно было. Оборудование новое.
							</div>
							<div class="reviews__block_date">13 октября 2022</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Анастасия Е.</div>
							<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								Сегодня прокололи ушки дочке в этом салоне) Остались довольны обслуживанием и персоналом. Девочки очень приветливые и внимательные . Спасибо большое, всё понравилось)
							</div>
							<div class="reviews__block_date">8 октября 2022</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Алина Ц.</div>
							<img src="{% static 'img/rating.svg' %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								Отличный салон, сервис на самом высоком уровне, всем мастерам огромное уважение за труд, обязательно вернусь
							</div>
							<div class="reviews__block_date">1 октября 2022</div>
						</div>
					</div>
					
					
					

				</div>
			</div>
		</div>
	</section>

{% endblock %}
