<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beauty City</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
	<link rel="stylesheet" href="css/simple.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/air-datepicker.css">
	
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<section id="mobMenu">
			<div class="mobMenu">
				<div class="container">
				<div class="mobMenu__header">
					<div class="row">
						<div class="col-4 col-md-3">
							<a href="/">
								<img src="img/Logo.svg" alt="Logo" class="logo header__logo">
							</a>
						</div>
						<div class="col-3 col-md-2">
							<img src="img/x.svg" alt="x" class="mobMenuClose">
						</div>
					</div>
				</div>
				<div class="mobMenu__content">
					<div class="row">
						<div class="col-md-3">
							<nav>
								<ul class="mobMenu__menu">
									<li class="mobMenu__menu_item">
										<a href="#" class="mobMenu__menu_link">Мастера</a>
									</li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Услуги</a></li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Отзывы</a></li>
									<li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Контакты</a></li>
								</ul>
							</nav>
							<a href="#" class="mobMenu__account">Личный кабинет</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="mobMenu__btn">Перезвоните мне</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<header id="header">
		<div class="container">
			<div class="header">
				<div class="row">
					<div class="col-2 col-md-2 mob">
						<img src="img/hamburger.svg" alt="hamburger" class="header__mobMenu">
					</div>
					<div class="col-5 col-md-3 col-lg-2">
						<a href="/">
							<img src="img/Logo.svg" alt="Logo" class="logo header__logo">
						</a>
					</div>
					<div class="col-md-5 ">
						<nav>
						<ul class="menu">
							<li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
							<li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
							<li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
							<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
						</ul>
					</nav>
					</div>
					<div class="col-2 col-md-2 col-lg-3">
						<div class="header__block">
						<button class="header__block_btn">Перезвоните мне</button>
						<div class="header__block_auth">
							<img src="img/acc.svg" alt="account" class="header__account_img">
							<span class="header__block_auth__intro">Войти</span>
						</div>
					</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</header>
	<section id="serviceFinally">
		<div class="container">
			<div class="serviceFinally">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="breadCrumbs">
							<a href="#" class="breadCrumbs__item">На главную</a>
						</div>
						<div class="service__block">
							<h1 class="service__title">Запись на услугу</h1>
						</div>
						<form action="#" class="serviceFinally__form">
							<div class="serviceFinally__form_block">
								<div class="serviceFinally__form_header fic">
									<span class="serviceFinally__form_header__number">Запись №32985</span>
									<div class="serviceFinally__form_header__item fic">
										<div class="serviceFinally__form_header__service">BeautyCity Пушкинская</div>
										<div class="serviceFinally__form_header__address">ул. Пушкинская, д. 78А</div>
									</div>
								</div>
								<div class="serviceFinally__form_content">
									<div class="serviceFinally__form_content__block fic">
										<div class="serviceFinally__form_content__title">Дневной макияж</div>
										<div class="serviceFinally__form_content__price">750 ₽</div>
									</div>
									<div class="serviceFinally__form_content__block fic">
										<div class="serviceFinally__form_content__items fic">
										  	<img src="img/masters/avatar/vizajist1.svg" alt="avatar" class="accordion__block_img">
										  	<div class="accordion__block_master">Елена Грибнова</div>
									    </div>
									    <div class="serviceFinally__form_content__item fic">
											<div class="serviceFinally__form_content__time">16:30</div>
											<div class="serviceFinally__form_content__date">18 ноября</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="serviceFinally__form_itesm">
								<div class="contacts__form_block fic">
									<input type="text" name="fname" class="contacts__form_iunput" placeholder="Введите имя" required="">
									<div class="contacts__form_inputBlock">
										<input type="text" name="tel" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="">
									</div>
								</div>
								
								<textarea name="contactsTextarea" class="contacts__form_textarea" placeholder="Вопрос(необязательно)"></textarea>
								<div class="contacts__form_checkboxBlock fic">
									<input type="checkbox" class="contacts__form_checkbox" checked="">
									<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
								</div>
								<button type="submit" class="serviceFinallys__form_btn">Записаться</button>
								<button type="submit" class="serviceFinallys__form_back">Назад</button>
							</div>
						</form>	
					</div>
					<div class="col-md-12 col-lg-5">
						<img src="img/bannerImg.svg" alt="bannerImg" class="banner__img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<div class="footer__block">
					<div class="row">
						<div class="col-md-3 col-lg-2">
							<a href="/"><img src="img/Logo.svg" alt="logo" class="footer__logo"></a>
						</div>
						<div class="col-md-5 minMobHide">
							<nav>
								<ul class="menu">
									<li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
									<li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
									<li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
									<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="footer__contact">
						<div class="row">
							<div class="col-md-4">
								
									<div class="footer__data">с 10:00 до 20:00  без выходных</div>
									
							</div>
							<div class="col-md-3">
								<a href="tel:+79179023800" class="contacts__info_tel">+7 (917) 902 38 00</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 minMobShow">
								<nav>
									<ul class="menu">
										<li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
										<li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
										<li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
										<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<hr class="hr"></hr>
					<div class="footer__bottom">
						<div class="row">
							<div class="col-md-4 col-lg-3">
								<a href="#" class="footer__link">Политика конфиденциальности</a>
							</div>
							<div class="col-md-3">
								<div class="footer__copy">2022. Все права защищены</div>
							</div>
							<div class="col-md-3 col-lg-2">
								<div class="footer__social fic">
									<a href=""><img src="img/waGray.svg" alt="wa" class="contacts__social_icon"></a>
									<a href=""><img src="img/vkGray.svg" alt="vk" class="contacts__social_icon"></a>
									<a href=""><img src="img/tgGray.svg" alt="tg" class="contacts__social_icon"></a>
									<a href=""><img src="img/instaGray.svg" alt="insta" class="contacts__social_icon"></a>
								</div>
							</div>
						</div>
						
						
						
					</div>
					
				</div>
			</div>
		</div>
	</footer>
	<div style="display: none;">
		<div class="box-modal authPopup popup" id="authModal">
			<div class="box-modal_close arcticmodal-close"><img src="img/x.svg" alt="x"></div>
			<div class="popup__title authPopup__title">Войти по коду</div>
			<p class="popup__text authPopup__text">Введите свой номер телефона, мы вышлем на него код</p>
			<form action="#" class="authPopup__form">
				<div class="contacts__form_inputBlock">
					<input type="text" name="tel" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="">
				</div>
				<div class="contacts__form_checkboxBlock fic">
					<input type="checkbox" class="contacts__form_checkbox" checked="">
					<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
				</div>
				<button type="submit" class="popup__btn authPopup__btn">Отправить</button>
			</form>
		</div>
	</div>
	<div style="display: none;">
		<div class="box-modal confirmPopup popup" id="confirmModal">
			<div class="box-modal_close arcticmodal-close"><img src="img/x.svg" alt="x"></div>
			<div class="popup__title confirmPopup__title">Подтвердите номер</div>
			<p class="popup__text confirmPopup__text">Введите код, полученный по SMS на номер +7 (928) 164 48 60</p>
			<div class="confirmPopup__number">
				<input type="text" name="num1" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">
				<input type="text" name="num2" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">
				<input type="text" name="num3" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">
				<input type="text" name="num4" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">

			</div>
			<div class="confirmPopup__sms">Если SMS не пришло вы можете <a href="#" class="popup__link">запросить код повторно</a></div>
			<div class="confirmPopup__changeNumber">
				<a href="#" class="confirmPopup__link popup__link">Изменить номер телефона</a>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="js/air-datepicker.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>